{% extends "layout_sus.html" %}
{% block body %}
  <style>
  input[type=submit] {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 16pt;
  }
  </style>
  <h1>Log in</h1>
  {% if error %}
    <p class=error style="color: red"><strong>Error:</strong> {{ error }}
  {% endif %}
  <form method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username value="{{
          request.form.username }}">
    </dl>
    <p><input type=submit value="Log in">
  </form>
{% endblock %}